<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.lenovo.myapplication">
    <!-- 授予该程序读取外部存储器的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 授予该程序读取网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="工业APP"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_first1" />
        <activity android:name=".First1" />
        <activity android:name=".First11" />
        <activity android:name=".First12" />
        <activity android:name=".First13" />
        <activity android:name=".First131" />
        <activity android:name=".First132" />
        <activity android:name=".First133" />
        <activity android:name=".First14" />
        <activity android:name=".First15" />
        <activity android:name=".Video" />


    </application>

</manifest>